/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.give_when_container{
    max-width: 100%;    
}
.give_when_container h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.give_when_container p{
    margin: 0 0 10px;
    orphans: 3;
    widows: 3;
    font-size: 22px
} 
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after{
  display: table;
  content: " ";
}

.form-control{
    padding: 6px 12px !important;
}

.gw_center {
    float: none;
    margin: 0 auto;
}

.gw_hr-title {
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 16px;
    text-align: center;
    height: 10px;
    line-height: 20px;
    margin: 10px 0;
    height: auto;
    color: #bbbbbb;
}

.gw_hr-title.gw_hr-long {
    width: 50%;
    margin: 80px auto 30px;
}

.gw_hr-title abbr {
    padding: 2px 10px;
    border-radius: 2px;
    position: relative;
    top: -10px;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.gw_hr-title abbr {
    background-color: #ffffff;    
}
.gw_table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.gw_table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.gw_table>tbody>tr>td,
.gw_table>tbody>tr>th,
.gw_table>tfoot>tr>td,
.gw_table>tfoot>tr>th,
.gw_table>thead>tr>td,
.gw_table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: none;
    border-top: 1px solid #ddd;
}
      
    
.gwcontainer {
    min-height: 100%;
    display: inline-block;
    width: 100%;
    height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dataTables_info{
    padding-bottom: 50px;
}
.gw_table.dataTable.no-footer{
    border-bottom: 1px solid #ddd;
}
select[name=GiveWhen_Transaction_Table_length]{   
    width: 75px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 5px 13px;
    font-size: 12px;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    margin-bottom: 10px;
}

#GiveWhen_Transaction_Table_filter input[type=search] {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select[name=GiveWhen_Transaction_Table_length]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#GiveWhen_Transaction_Table_filter input[type=search]:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.gw_center_container{
    text-align: center;
}

.gw_heading {
    padding-top: 80px;
    margin-bottom: 80px;
}
.gw_heading h3 {
    font-size: 30px;
    line-height: 42px;
}
.gw_heading h1, .gw_heading h2, .gw_heading h3, .gw_heading h4 {
    color: #303030;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.gw_heading-center {    
    text-align: center;
    float: none;
}
.gw_heading.gw_heading-center > span, .gw_heading.title-center > span {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.gw_heading h3 + span, .gw_heading h3 + span.lead {
    font-size: 20px;
}
.gw_heading > span {
    display: block;
    color: #888;
}
.gw_heading.gw_heading-center:after, .gw_heading.title-center:after {
    margin: 30px auto 0;
}
.gw_heading:after {
    border-top: 3px solid #303030;
    display: block;
    margin-top: 10px;
    width: 30px;
    content: "";
}

/*give when form.*/
form {
    display: block;
    margin-top: 0em;
}
.gw_form-group {
    margin-bottom: 15px;
}
.gw_form-group > label {
    display: block;
}
.gw_form-group label {
    color: #444;
    cursor: pointer;
    /* display: inline-block; */
    margin-top: 8px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 13px;
        /* display: inline-block; */
    max-width: 100%;
    /* margin-bottom: 5px; */
    font-weight: 700;
}
.gw_sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.gw_upper{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.gw_form-control, .gw_input-group-addon {
    border: 2px solid #ebebeb !important;
}
.gw_form-control {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    line-height: 1.33333;
    padding: 12px 18px !important;
    display: block;
    width: 100%;
     color: #555;
    background-color: #fff;
    background-image: none;
    font-size: 14px;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.gw_form-control:focus {
    box-shadow: none;
    border-color: #66afe9 !important;
    outline: 0;
}
.button.color, .gw_btn.gw_btn-primary {
    background-color: #26B8F3;
    border-color: #26B8F3;
    color: #fff;
}
.gw_form-inline button {
    margin: 0px;
}
.gw_btn {
    border-radius: 4px;
    padding: 12px 20px;
    display: inline-block;
    /* padding: 6px 12px; */
    /* margin-bottom: 0; */
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    /* -webkit-user-select: none; */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
/*give when form image*/
.gw_post-item {
    float: left;
    position: relative;
    width: 100%;
   /* border-bottom: 1px solid #eee;*/
    /*margin-bottom: 40px;*/
    padding-bottom: 20px;
    /*position: relative;*/
    display: block;
}
.gw_post-image{
    margin-bottom: 20px;
}
.gw_post-title a {
    color: #111;
    text-decoration: none !important;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
}
.gw_post-title a:hover {
    color: #26B8F3;
}
.gw_post-title a:focus {
    outline: none;
    outline-offset: -2px;
}
.gw_post-item .gw_post-title h3 {
    margin-bottom: 4px;
    font-size: 26px;
    line-height: 30px;
}
.gw_post-item .gw_post-title h3 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 30px;
    text-rendering: optimizelegibility;
    margin-top: 0;
    color: #222222;
    font-family: "Open Sans", sans-serif;
}
.gw_post-item .gw_post-title h4 {
    text-rendering: optimizelegibility;
    margin-top: 0;
    color: #222222;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.5;
        font-size: 18px;
}
.gw_post-item p {
    margin-bottom: 30px;
    color: #696f6f;
    text-rendering: optimizelegibility;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
}
.gwcontainer ol{
    padding-left: 0.8em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.gwcontainer ol li{
    padding-left: 0px;
    font-size: 12px;
    color: #31708f;
    font-family: "Open Sans", sans-serif;
}
.gwcontainer p{
    color: #31708f;
    margin-bottom: 0px;
    text-rendering: optimizelegibility;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
}

.gw_alert {
    color: #fff;    
    border-radius: 0;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-left-width: 10px;
}

.gw_alert-warning {
    background-color: #f6b63a;
    border-color: #ffcd51;
}
.gw_post-title a{
    box-shadow: none!important;
    border-bottom: 0px !important;
}

/*pagination bootstrap table public*/
#GiveWhen_Transaction_Table_paginate .previous {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08) !important;
    padding: 8px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;    
}

#GiveWhen_Transaction_Table_paginate span > a{
    margin-left: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08) !important;
    padding: 8px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
}
#GiveWhen_Transaction_Table_paginate .next{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08) !important;
    margin-right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    padding: 8px 14px;
    margin-left: 0px;
}

#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    border-color: #33baf3 !important;
    background-color: #26b8f3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26b8f3), color-stop(100%, #26b8f3));
}
#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button.current,
#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #cacaca;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #26b8f3 0%, #26b8f3 100%);
}
#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button:hover {
    color: black !important;
    border: 1px solid #ebebeb;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #eee 0%, #eee 100%);
}

#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button.current{
    border-color:  #26b8f3 !important;
}

#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button.disabled, 
#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
#GiveWhen_Transaction_Table_wrapper .dataTables_paginate .paginate_button.disabled:active{
  cursor: no-drop;  
}

.gw_post-description{
    text-align: justify;        
}
.gw_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 20% auto 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* ----------------------------------------------------------------------
Tabs
-------------------------------------------------------------------------*/

.gwcontainer .tabs-navigation {
    margin-bottom: 0px;
    padding-left: 0px;
    border-bottom-width: 0px;
    list-style: none;
}
.gwcontainer .tabs-navigation::after,
.gwcontainer .tabs-navigation::before {
    content: ' ';
    display: table;
}
.gwcontainer .tabs-navigation::after {
    clear: both;
}
.gwcontainer .tabs-navigation li {
    position: relative;
    display: block;
    float: left;
    margin: 0px 0px -1px;
}
.gwcontainer .tabs-navigation li span {
    position: relative;
    border: 1px solid transparent;
    margin-right: -1px;
    padding: 9px 20px 11px;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.gwcontainer .tabs-navigation li span i:first-child {
    margin-right: 8px;
}
.gwcontainer .tabs-navigation li span i.tab-single-icon {
    margin: 0px;
}
.gwcontainer .tabs-navigation li span img {
    max-width: none;
}
.gwcontainer .tabs-navigation li span,
.gwcontainer .tabs-navigation li span:focus,
.gwcontainer .tabs-navigation li span:hover {
    text-decoration: none;
    outline: 0px;
    cursor: pointer;
}
.gwcontainer .tabs-navigation li.active span {
    z-index: 3;
}
.gwcontainer .tabs-navigation li.active span::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    z-index: 1;
    height: 3px;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}
.gwcontainer .tabs-navigation li.active span:focus {
    cursor: default;
}
.gwcontainer .tabs-content {
    position: relative;
    z-index: 2;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    overflow: hidden;
}
.gwcontainer .tabs-content > .tab-pane {
    display: none;
}
.gwcontainer .tabs-content > .active {
    display: block;
}
.gwcontainer .tabs-vertical {
    overflow: hidden;
}
.gwcontainer .tabs-vertical .tabs-navigation {
    float: left;
    width: 240px;
    margin-top: 0px;
}
.gwcontainer .tabs-vertical .tabs-navigation li {
    float: none;
}
.gwcontainer .tabs-vertical .tabs-navigation li span {
    padding: 12px 20px;
    margin: 0px;
    border: 1px solid rgb(221, 221, 221);
}
.gwcontainer .tabs-vertical .tabs-navigation li.active span,
.gwcontainer .tabs-vertical .tabs-navigation li.active span:focus,
.gwcontainer .tabs-vertical .tabs-navigation li.active span:hover {
    border-right-width: 1px;
}
.gwcontainer .tabs-vertical .tabs-navigation li.active span::after {
    top: -1px;
    left: -1px;
    right: auto;
    bottom: -1px;
    width: 3px;
    height: auto;
}
.gwcontainer .tabs-vertical .tabs-content {
    left: -1px;
    margin: 0px 0px 40px 239px;
}
.gwcontainer .tabs-navigation li span {
    color: rgb(112, 118, 122);
    border-color: rgb(229, 232, 232);
    background: rgb(243, 246, 246);
}
.gwcontainer .tabs-navigation li span:hover {
    color: rgb(28, 32, 42);
    background: rgb(248, 250, 250);
}
.gwcontainer .tabs-navigation li.active span,
.gwcontainer .tabs-navigation li.active span:focus,
.gwcontainer .tabs-navigation li.active span:hover {
    border-color: rgb(229, 232, 232) rgb(229, 232, 232) rgb(248, 249, 251);
    color: rgb(28, 32, 42);
    box-shadow: none;
    background: rgb(248, 249, 251);
}

.gwcontainer .tabs-vertical .tabs-navigation li.active span,
.gwcontainer .tabs-vertical .tabs-navigation li.active span:focus,
.gwcontainer .tabs-vertical .tabs-navigation li.active span:hover {
    border-right-color: rgb(248, 249, 251);
    border-bottom-color: rgb(229, 232, 232);
}
.gwcontainer .tabs-content {
    border-color: rgb(229, 232, 232);
    background: rgb(248, 249, 251);
}
.gwcontainer .tabs-navigation li span {
    color: rgb(68, 68, 68);
    border-color: rgb(221, 221, 221);
    background: rgb(248, 250, 250);
}
.gwcontainer .tabs-navigation li span:hover {
    color: rgb(46, 52, 60);
    background: rgb(255, 255, 255);
}
.gwcontainer .tabs-navigation li.active span,
.gwcontainer .tabs-navigation li.active span:focus,
.gwcontainer .tabs-navigation li.active span:hover {
    background: #ffffff;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #2e343c;
}

.gwcontainer .tabs-vertical .tabs-navigation li.active span,
.gwcontainer .tabs-vertical .tabs-navigation li.active span:focus,
.gwcontainer .tabs-vertical .tabs-navigation li.active span:hover {
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(221, 221, 221);
}
.gwcontainer .tabs-content {
    border-color: rgb(221, 221, 221);
    background: rgb(255, 255, 255);
}
/*Options*/


.gwcontainer .border .tabs-navigation li.active span::after {
    background: rgb(0, 170, 179);
}

/*Responsive Tabs */

@media screen and (max-width: 991px) {
    .gwcontainer .tabs-navigation,
    .gwcontainer .tabs-vertical .tabs-content,
    .gwcontainer .tabs-vertical .tabs-navigation
    {
        width: auto;
        float: none
    }
    .gwcontainer .tabs-content,
    .gwcontainer .tabs-vertical .tabs-content
    {
        margin-left: 0;
        min-height: 0!important
    }
    .gwcontainer .tabs-vertical .tabs-content
    {
        left: 0
    }
    .gwcontainer .tabs-vertical .tabs-content-transparent {
        border-left-width: 0;
        padding: 40px 0;
        border-top-width: 1px
    }
    .gwcontainer .tabs-navigation li,
    .gwcontainer .tabs-vertical .tabs-navigation li
    {
        width: auto;
        float: none;
        display: block;
        text-align: left
    }
    .gwcontainer .tabs-navigation li span,
    .gwcontainer .tabs-vertical .tabs-navigation li span {
        margin-right: 0
    }
    .gwcontainer .tabs-vertical .tabs-navigation li span:after {
        width: auto;
        height: 3px;
        right: -1px;
        bottom: auto;
    }
    .gwcontainer .tabs-vertical .tabs-navigation li.active span {
        border-right-width: 1px
    }
    .gwcontainer .tabs-navigation li.active span,
    .gwcontainer .tabs-navigation li.active span:hover,
    .gwcontainer .tabs-vertical .tabs-navigation li.active span,
    .gwcontainer .tabs-vertical .tabs-navigation li.active span:hover {
        border-right-color: #d1d7d9;
        border-bottom-color: #d1d7d9
    }
    .gwcontainer .tabs-navigation li.active span,
    .gwcontainer .tabs-navigation li.active span:hover,
    .gwcontainer .tabs-vertical .tabs-navigation li.active span,
    .gwcontainer .tabs-vertical .tabs-navigation li.active span:hover {
        border-right-color: #dde1e1;
        border-bottom-color: #dde1e1
    }   
}

@media (min-width: 1200px){
.gwcontainer {
    width: 1170px;
 }
}
@media (min-width: 992px){
.gwcontainer {
    width: 970px;
}}
@media (min-width: 768px)
{
.gwcontainer {
    width: 80%;
}} 